@model EMP.model.User

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend> User DashBoard </legend>

        @if (Session["UserName"] != null)
        {<text >
            Welcome @Session["UserName"].ToString() </text>
    }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="LogOut" class="btn btn-danger" />
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
